@media(min-width:550px) {
    .pro-con, .pro-con > form {
        display:inline;
        width:100%;
    }
    
    .pro-con > form {
        position:relative;
        top:-30px;
    }
    
    .cardslider__cards > li {
        background:#f4f4f4;
        border-radius:0!important;
        -webkit-box-shadow: 16px 16px 50px -10px rgba(0,0,0,0.65);
        -moz-box-shadow: 16px 16px 50px -10px rgba(0,0,0,0.65);
        box-shadow: 16px 16px 50px -10px rgba(0,0,0,0.65);  
    }    
}

.cardslider__cards > li {
    background:#f4f4f4;
    border-radius:0!important;
    -webkit-box-shadow: 14px 14px 5px -10px rgba(0,0,0,0.65);
    -moz-box-shadow: 14px 14px 5px -10px rgba(0,0,0,0.65);
    box-shadow: 14px 14px 5px -10px rgba(0,0,0,0.65);      
}

.budget-title {
    margin-top:15px;
}

.pro-con > form {
    height:100%;
}

.cardslider__cards {
    width: 50%;
    height: 400px;
    margin-top:30px;
}

.cardslider__dots-nav {
    bottom:100px;
}

.cardslider__dot-btn {
    border:1px solid transparent;
    background:rgba(6,216,143,0.6);
    width:15px;
    height:15px;
}

.cardslider__dot--active > .cardslider__dot-btn::before {
    border:1px solid transparent!important;
    background:#06d88f;
    width:15px;
    height:15px;    
}

.wrappie {
    text-align:center;
    padding:30px 80px;
}

.btn-pro {
    border:2px solid #000;
    padding:18px 70px;
    border-radius:0!important;
    cursor:pointer;
    background-color: transparent;
}

.btn-result {
    border:2px solid #000;
    padding:13px 66px;
    border-radius:0!important;
    cursor:pointer;
    color:#000;
    background-color: transparent;
    font-size:22px;
    background:#07d68e;
}

.next-slide::before, .btn-result::before {
    background: #0589ba;
    background: -moz-linear-gradient(30deg,#0589ba 0%,#06d392 100%);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#0589ba),color-stop(100%,#06d392));
    background: -webkit-linear-gradient(30deg,#0589ba 0%,#06d392 100%);
    background: -o-linear-gradient(30deg,#0589ba 0%,#06d392 100%);
    background: -ms-linear-gradient(30deg,#0589ba 0%,#06d392 100%);
    background: linear-gradient(30deg,#0589ba 0%,#06d392 100%);
}

.previous-slide::before {
    background: #0589ba;
    background: -moz-linear-gradient(30deg,#0589ba 0%,#06d392 100%);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#0589ba),color-stop(100%,#06d392));
    background: -webkit-linear-gradient(30deg,#0589ba 0%,#06d392 100%);
    background: -o-linear-gradient(30deg,#0589ba 0%,#06d392 100%);
    background: -ms-linear-gradient(30deg,#0589ba 0%,#06d392 100%);
    background: linear-gradient(30deg,#0589ba 0%,#06d392 100%);  
}

.bootstrap-select {
    background-color:transparent;
    height:50px;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.bootstrap-select > .dropdown-toggle {    
    background-color:transparent;
    height:50px;
    border-bottom:2px solid #07d292!important;
    border-color:transparent;
    border-radius:0!important;
    color:#07d292;
    font-size:20px;
}

.bootstrap-select > .dropdown-toggle > .bs-caret {
    color:#000;
}

.bootstrap-select .dropdown-toggle:focus, .cardslider__dot-btn:focus {
    outline:0px auto -webkit-focus-ring-color!important;
}

.bootstrap-select.open > .dropdown-toggle.btn-default {    
    background-color: transparent!important;
    border-color: transparent!important;
    -webkit-box-shadow:none!important;
    box-shadow:none!important;
}

.pro-ipt {
    background-color:transparent;
    height:50px;
    -webkit-box-shadow:none;
    box-shadow:none;
    border-bottom:2px solid #07d292!important;
    border-color:transparent;
    border-radius:0!important;
    color:#07d292;
    font-size:20px;    
}

.pro-ipt:focus {
    border-color:transparent;
}

.pro-mar {
    margin:30px 0;
}

.syp {
    margin-top:50px; 
}


/******* budget modal *********/

.col-item, .col-menu {
    height: 80px;
}

.bor {
    border-bottom:2px solid #000;
}

.market-col, .webqlo-col, .t-col {
    padding:0!important;
}

.market-col {
    background:#bcbcbc;
}

.market-col > .col-item > .col-title,
.market-col > .col-item > .col-xs-6 > .item-number {
    color:#000!important;
}

.webqlo-col {
    background:#07D68E;
}

.menu-fo {
    color:#A0A0A0;
    font-family: 'Oswald-Medium';
    font-size:20px;
    line-height:normal;
}

.menu-sub-fo {
    color:#A0A0A0;
    font-family: 'Oswald-Medium';
    font-size:15px;
    line-height:normal;
}

.mf, .mf > a {
    color:#FFF;
}

.nlh {
    line-height:normal;
}

.menu-pad {
    padding:30px 0;
}

.menu-pad2 {
    padding:40px 0;
}

.menu-pad3 {
    padding:20px 0 40px 0;
}

.ms {
    color:#06d392;
    font-size:26px;
    font-family: 'Oswald-Medium';
    text-align:center;    
}

.gy {
    color:#FFF;
    font-size:20px;
    font-family: 'Oswald-Medium';    
}

@media(max-width:1250px) {
    .cardslider__cards {width:60%;}
}

@media(max-width:1200px) {
    .cardslider__cards {width:70%;}
    .menu-fo {font-size:17px;}
    .inner-col-menu > div > .menu-pad > img {position:relative;top:-5px;}
    .menu-pad {padding:20px 0;}
    .menu-pad2 {padding:30px 0;}
}

@media(max-width:992px) {
    .menu-fo {font-size:19px;}
    .cardslider__cards {width:80%;}
    .btn-pro {padding:15px 50px;}
    .btn-result {padding:10px 50px;}
    .wrappie {padding:30px 40px;}
    .menu-pad {padding:30px 0;}
    .menu-pad2 {padding:40px 0;}    
}

@media(max-width:850px) {
    .menu-fo {font-size:17px;}
    .wrappie {padding:15px 40px;}
    .cardslider__cards {height:350px;}
    .menu-pad3 {padding:20px 0 80px 0;}
}

@media(max-width:767px) {
    .as, .as > a {color:#000;}
    .menu-pad {padding:40px 0;}
    .menu-pad2 {padding:50px 0;}
}

@media(max-width:550px) {
    .btn-pro {padding:8px 30px;}
    .btn-pro > img {width:25px;}
    .btn-result {padding:5px 20px;font-size:19px;}
    .cardslider__cards {width:95%;margin-top:20px;height:330px;}
    .wrappie {padding:15px 20px;}
    .cardslider__dots-nav {bottom:30px;}
    .budget-title {margin-top:5px;}    
    .cardslider--direction-down .cardslider__card--index-1,
    .cardslider--direction-down .cardslider__card--index-2,
    .cardslider--direction-down .cardslider__card--index-3
    {-webkit-transform: scale(.95) translate3d(0, 0%, 3px);transform: scale(.95) translate3d(0, 0%, 3px);}
    .syp {margin-top:30px;}    
    .menu-pad3 {padding:20px 0 40px 0;}
}

@media(max-width:350px) {
    .syp {margin-top:60px;}
    .cardslider__cards {height:310px;}
    .wrappie {padding:5px 20px;}
    .cardslider__dots-nav {bottom:5px;}
}