$font-path: '/digital-marketing/fonts';
@font-face{font-family:'FontAwesome';src:url($font-path+'/fontawesome-webfont.eot?v=4.7.0');src:url($font-path+'/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url($font-path+'/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url($font-path+'/fontawesome-webfont.woff?v=4.7.0') format('woff'),url($font-path+'/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url($font-path+'/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}

@font-face{font-family:'Gotham Bold';font-display: swap; src:url($font_path+'/GOTHAM_BOLD.TTF');}
@font-face{font-family:'Lato Heavy';font-display: swap; src:url($font_path+'/LATO-HEAVY.TTF');}
@font-face{font-family:'Lato SemiBold';font-display: swap; src:url($font_path+'/LATO-SEMIBOLD.TTF');}
@font-face{font-family:'Lato SemiBold Italic';font-display: swap; src:url($font_path+'/LATO-SEMIBOLDITALIC.TTF');}
@font-face{font-family:'Gotham Book';font-display: swap; src:url($font_path+'/GOTHAM-BOOK.TTF');}