.modal-title{color:#5d66cf;}
.latoheavy-100{font-family:'Lato Heavy', Lato, Tahoma, Sans-Serif; font-size:6rem;}
.latoheavy-40{font-family:'Lato Heavy', Lato, Tahoma, Sans-Serif; font-size:2.5rem;}
.latosemibold-i-80{font-family:'Lato SemiBold Italic', Lato, Tahoma, Sans-Serif; font-size:4.8rem;}

.relative { position: relative; }
.absolute { position: absolute; }
.italic {
	font-style: italic;
}
.theme-blue-text {
	color: #91A6E9;
}
.theme-black-text {
	color: #111;
}
.theme-gold-text {
	color: #ab7b1f;
}
.video-boundary-container {
	max-width: 800px;
	margin: auto;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 80px; 
	height: 0; 
	overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.btn-container { padding: 40px 0px 0px; }
.cta-btn {
	background-color: #5f6abb;
	border: solid 2px #5f6abb;
	color: white;
	padding: 10px 30px;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}
.cta-btn:hover {
	color: #91A6E9;
	background-color: transparent;
	-webkit-animation: btncolorchg 0.7s; /* Safari 4.0 - 8.0 */
  	animation: btncolorchg 0.7s;
}
.cta-btn:focus {
	color: white;
}
@-webkit-keyframes btncolorchg {
  from {background-color: #5f6abb;}
  to {background-color: transparent;}
}

/* Standard syntax */
@keyframes btncolorchg {
  from {background-color: #5f6abb;}
  to {background-color: transparent;}
}
.what-we-do-title {
	font-weight: bold;
}
.what-we-do-icon-holder {
	height: 150px;
	display: flex;
}
.what-we-do-icon {
	margin: auto;
	height: 80px;
	// margin-left: 0;
}
.p-h-1 {
	padding: 0px 30px;
}
.what-we-do-subtitle {
    padding-bottom: 20px;
}
.what-we-do-des {
	padding-top: 20px;
}
.top-text-container {
	max-width: 800px;
	margin: auto;
}

$lato-semibold:'Lato SemiBold';
$avenir-heavy: 'Avenir Heavy';
$avenir-medium: 'Avenir Medium';
.lato-semibold {
	font-weight:bold;
	font-family:$lato-semibold, Lato, Tahoma, Sans-Serif;
}
.latosemibold-100{ font-weight:bold;font-family:$lato-semibold, Lato, Tahoma, Sans-Serif; font-size:4rem;}
.avenirheavy-100{font-family:'Avenir Heavy', Lato, Tahoma, Sans-Serif; font-size:4rem;font-weight: bold;}
.latosemibold-65{font-weight:bold;font-family:$lato-semibold, Lato, Tahoma, Sans-Serif; font-size:5rem;}
.latosemibold-90{font-weight:bold;font-family:$lato-semibold, Lato, Tahoma, Sans-Serif; font-size:5.4rem;}
.latosemibold-30 { font-weight: bold; font-family: $lato-semibold, Lato, Tahoma, Sans-Serif; font-size: 3rem; line-height: 1; }
.avenirheavy-30 { font-weight: bold; font-family: $avenir-heavy, Lato, Tahoma, Sans-Serif; font-size: 3rem; line-height: 1; }
.avenirmedium-30 { font-weight: normal; font-family: $avenir-medium, Lato, Tahoma, Sans-Serif; font-size: 3rem; line-height: 1; }
.latosemibold-20 { font-weight: bold; font-family: $lato-semibold, Lato, Tahoma, Sans-Serif; font-size: 2.5rem; }
.avenirheavy-20 { font-weight: bold; font-family: $avenir-heavy, Lato, Tahoma, Sans-Serif; font-size: 2.5rem; }
.latosemibold-10 { font-weight: normal; font-family: $lato-semibold, Lato, Tahoma, Sans-Serif; font-size: 2rem; }
.avenirmedium-10 { font-weight: normal; font-family: $avenir-medium, Lato, Tahoma, Sans-Serif; font-size: 2rem; }

.gothambook-28{font-family:'Gotham Book', Lato, Tahoma, Sans-Serif; font-size:2.5rem;}
.avenirbook-28{font-family:'Avenir Book', Lato, Tahoma, Sans-Serif; font-size:2.5rem;}
.gothambold-28{font-family:'Gotham Bold', Lato, Tahoma, Sans-Serif; font-size:3rem;}
.gothambook-26{font-family:'Gotham Book', Lato, Tahoma, Sans-Serif; font-size:1.5rem;}
.gothambook-24-i{font-family:'Gotham Book', Lato, Tahoma, Sans-Serif; font-size:2.5rem;}
.gothambook-50{font-family:'Gotham Book', Lato, Tahoma, Sans-Serif; font-size:3rem;}
.gothambook-24{font-family:'Gotham Book', Lato, Tahoma, Sans-Serif; font-size:1.4rem;}
.gothambook-10 { font-weight: normal; font-family: 'Gotham Book', Lato, Tahoma, Sans-Serif; font-size: 2rem; }
.avenirbook-10 { font-weight: normal; font-family: 'Avenir Book', Lato, Tahoma, Sans-Serif; font-size: 2rem; }
// .what-we-do-title {
// 	font-size: 3rem;
// }
.case-content{z-index:100;margin:0px 30px 15px 30px;color:#f7f7f7;}
.pad-left{padding-left:100px;padding-top:130px;}
.pad-left-1{padding-left:100px;padding-top:70px;}
.title-letter-spacing{letter-spacing:2px;}
.slogan-title{letter-spacing:3px;text-transform:uppercase;}
.text-upper { text-transform: uppercase; }
textarea:focus, input:focus{outline:none!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a:hover{text-decoration:none;}
.intro{background-repeat: no-repeat; background-size:cover;}
.left-form-bg{background-repeat:no-repeat;background-size:cover;background-position:left center;}
.marginauto{margin:0 auto;}
.nopadding{padding:0;}
.fullheight{height:100%;}
.datetimepicker[readonly]{background-color:#fff;}
#big{-webkit-animation-duration:1.5s;animation-duration:1.5s;}
#case{-webkit-animation-duration:1.5s;animation-duration:1.5s;}
.case-study-slides .slide-item{width:50vh;max-width:640px;height:50vh;max-height:640px;margin:0 20px;}
.test-testimonial .slick-slide-item{width:100%;max-width:100vw;min-height:400px;margin:0 20px;}
.testi-div {
	background-color: white;
}
.case-study-arrows .slick-prev,
.case-study-arrows .slick-next{transition:opacity 0.5s, width 0.5s;position:absolute;z-index:1000;bottom:12%;opacity:0.7;white-space:nowrap;overflow:hidden;width:60px;height:60px;border:none;border-radius:30px;background-color:#5d66cf;color:#fff;font-size:16px;}
.case-study-arrows .slick-prev{left:5%;}
.case-study-arrows .slick-next{right:5%;}
.case-study-arrows .slick-prev:hover,
.case-study-arrows .slick-next:hover{opacity:1;width:180px;}
.case-study-arrows .slick-prev span,
.case-study-arrows .slick-next span{display:none;margin:0 15px;}
.case-study-arrows .slick-prev:hover span,
.case-study-arrows .slick-next:hover span{display:inline;}
// .modal-btn.case-study-btn{display:flex;flex-flow:column wrap;justify-content:flex-end;width:100%;height:100%;background-repeat:no-repeat;background-size:cover;margin:0 auto;}
// .modal-btn.case-study-btn::before{content:'';position:absolute;top:0;width:50vh;height:50vh;background-color:rgba(0, 0, 0, 0.5);}
.form-pad-left{padding-left:24px;}
.form-pad-right{padding-right:24px;}
.left-in{padding:200px 50px 130px 50px;height:100vh;width:100%;}
.right-in{padding:50px 80px 100px 80px;}
.contact-title{margin-bottom:10px;letter-spacing:2px;}
.contact-stitle{margin-bottom:120px;letter-spacing:2px;}
.contact-form .dropzone{min-height:80px;border:dashed 1px #fff;background:transparent;color:#fff;text-align:center;}
.contact-form .dropzone .dz-message{margin:1em 0;}
.contact-form .dropzone .dz-preview .dz-error-message{top:80px;}
.contact-form .dropzone .dz-preview{min-height:0;margin:0;}
.contact-form .dropzone .dz-preview.dz-image-preview{min-height:0;background:transparent;color:#fff;}
.contact-form .dropzone .dz-image,
.contact-form .dropzone .dz-progress{display:none;}
.contact-form .dropzone .dz-details{position:static;opacity:1;padding:0;}
.contact-form .dropzone .dz-details .dz-size{margin-bottom:0;}
.contact-form .dropzone .dz-details .dz-size > span,
.contact-form .dropzone .dz-details .dz-filename > span{background:transparent;color:#fff;}
.contact-form .dropzone .dz-preview .dz-details .dz-filename:hover span{border:none;background-color:transparent;}
.case-wrap{padding:10% 0;}
.some-mar{margin:40px auto 20px auto;}
.budget-title > div{width:80%;font-size:30px;margin:0 auto;}
.modal{max-height:100%;overflow:visible;}
.modal a.close-modal{top:0;right:0;}
.modal a.close-modal:hover{color:#07d68e;}
#thanks a{color:#f7f7f7;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{transition:background-color 5000s ease-in-out 0s;-webkit-text-fill-color:#fff !important;}
.dig-pad{padding:0 47px;height:100%;}
.dig-in{
	height:100%;
	padding-top:40px;
	padding-bottom: 40px;
}
// .dig-in .container{height:85vh;}
.fixed-logo{position:absolute;top:15px;left:0;width:320px;height:auto;background:transparent;z-index:100;margin-left:60px;}
.fixed-fb{position:absolute;bottom:20px;left:23px;z-index:100;background:#0487bb;height:50px;width:50px;color:#fff;border:1px solid #038dc4;transition:all 0.3s ease;}
.fixed-fb:hover{color:#fff;background:#3b5998;transition:all 0.5s ease;border:1px solid #3b5998;}
.fa-cus{font-size:1.8em;}
.fb-wrap{margin:14px auto;}
.logo-wrap{}
.fp-section.fp-table{background-color:#161616;}
#fp-nav.right{right:35px!important;}
#fp-nav ul li .fp-tooltip.right{right:6px;padding:6px 18px;font-size:13px;top:-5px;background:#b7b7b7;}
#fp-nav ul li > .fp-tooltip{color:#FFF!important;background:#000;}
#fp-nav > ul > li > .active{width:auto!important;opacity:1!important;}
#fp-nav ul li a.active span{margin:-3px 0 0 -4px;width:11px;height:11px;background:#434C90;}
#fp-nav ul li{width:17px;margin-top:50px;}
#fp-nav ul li a span{height:8px;width:8px;border-radius:0!important;background:#b6b6b6;}
#fp-nav ul li:hover a.active span, #fp-nav ul li:hover a span{margin:-3px 0 0 -4px;width:11px;height:11px;background:#434C90;}
.fixed-pageno{display:none;position:absolute;top:10px;right:55px;font-size:25px;color:#434C90;}
.fixed-pageno > span{color:#FFF;letter-spacing:1px;}
.fixed-pageno > .blacky{color:#000;}
.lts-wrap{padding-top:22%;}
.lts-square{font-size:60px;color:#FFF;padding:0px 50px 0px 15px;display:inline-block;background:#0589ba;background:-moz-linear-gradient(30deg,#0589ba 0%,#06d392 100%);background:-webkit-gradient(linear,left bottom,right top,color-stop(0%,#0589ba),color-stop(100%,#06d392));background:-webkit-linear-gradient(30deg,#0589ba 0%,#06d392 100%);background:-o-linear-gradient(30deg,#0589ba 0%,#06d392 100%);background:-ms-linear-gradient(30deg,#0589ba 0%,#06d392 100%);background:linear-gradient(30deg,#0589ba 0%,#06d392 100%);}
.lts-square2{margin-top:20px;font-size:90px;color:#FFF;padding:0px 70px 0px 15px;display:inline-block;background:#0589ba;background:-moz-linear-gradient(30deg,#0589ba 0%,#06d392 100%);background:-webkit-gradient(linear,left bottom,right top,color-stop(0%,#0589ba),color-stop(100%,#06d392));background:-webkit-linear-gradient(30deg,#0589ba 0%,#06d392 100%);background:-o-linear-gradient(30deg,#0589ba 0%,#06d392 100%);background:-ms-linear-gradient(30deg,#0589ba 0%,#06d392 100%);background:linear-gradient(30deg,#0589ba 0%,#06d392 100%);}
.lts-square-nml{font-size:40px;color:#FFF;padding:0px 35px 0px 35px;display:inline-block;background:#0589ba;background:-moz-linear-gradient(30deg,#0589ba 0%,#06d392 100%);background:-webkit-gradient(linear,left bottom,right top,color-stop(0%,#0589ba),color-stop(100%,#06d392));background:-webkit-linear-gradient(30deg,#0589ba 0%,#06d392 100%);background:-o-linear-gradient(30deg,#0589ba 0%,#06d392 100%);background:-ms-linear-gradient(30deg,#0589ba 0%,#06d392 100%);background:linear-gradient(30deg,#0589ba 0%,#06d392 100%);}
.lts-btn{display:inline-block;width:160px;border:solid 2px;background-color:transparent;padding:10px 20px;font-size:14px;cursor:pointer;}
.lts-btn.hvr-sweep-to-right::before{background:#0589ba;background:-moz-linear-gradient(30deg,#0589ba 0%,#06d392 100%);background:-webkit-gradient(linear,left bottom,right top,color-stop(0%,#0589ba),color-stop(100%,#06d392));background:-webkit-linear-gradient(30deg,#0589ba 0%,#06d392 100%);background:-o-linear-gradient(30deg,#0589ba 0%,#06d392 100%);background:-ms-linear-gradient(30deg,#0589ba 0%,#06d392 100%);background:linear-gradient(30deg,#0589ba 0%,#06d392 100%);}
.lts-btn .right-arrow{display:inline-block;margin-left:10px;width:auto;height:14px;}
.lts-btn-dark{border-color:#000;color:#000;}
.lts-btn-light{border-color:#fff;color:#fff;}
.lts-line{width:6%;height:2px;background:#FFF;margin-top:30px;}
.web-line{margin:15px auto 20px auto;background:#076e8e!important;width:8%;}
.case-pad{padding-top:80px;}
.lts-ft{margin-top:20px;color:#FFF;font-size:20px;font-weight:300;letter-spacing:1.5px;}
.rw-wrap{padding-top:25px;}
.rw-top{margin-top:15px;}
.rw-ttl{margin-top:25px;color:#0487bb;font-size:30px;}
.rw-desc{font-size:17px;margin-top:25px;font-family:'GothamBook';}
.rw-sp-img{padding:5px 0;}
.prob-wbqlo-ttl{padding:30px 210px 30px 210px;}
.prob-desc{font-size:23px;font-family:'GothamBook';width:65%;}
.vcenter-container{display:flex;flex-direction:column;justify-content:center;}
.budget-title, .case-study-title{margin-top:10px;font-size:40px;margin-bottom:3rem;}
.budget-input > input{width:50vw;margin:40px 0;border:none;border-bottom:solid 1px #000;font-size:40px;font-style:normal;text-align:center;}
.case-study-items{display:flex;flex-wrap:wrap;justify-content:center;margin-top:10px;height:40vh;}
.contact-item{margin-bottom:10px;font-size:12px;}
.contact-item > i{width:40px;vertical-align:top;}
.contact-item:not(:last-child) > i,
.contact-item:not(:last-child) > p{display:inline-block;}
.contact-form > .form-group > input, .contact-form > .form-group > textarea{font-size:17px;font-style:normal!important;}
.contact-form > .form-group > input{height:45px;}
.contact-form-btn{width:200px;}
.contact-form .form-group{margin-bottom:30px;}
.contact-form .form-control{border:none;border-bottom:solid 1px #fff;border-radius:0;background-color:transparent;font-size:18px;font-style:italic;color:#fff;}
.jquery-modal{z-index:9999;background-color:#13171a;}
.jquery-modal .modal{box-shadow:none;border:none;border-radius:0;background-color:transparent;}
.jquery-modal .col-items{padding:20px 0;}
.jquery-modal .budget-modal{max-width:none;width:75%;padding:0;background:#000;text-align:center;}
.jquery-modal .budget-modal .budget-heading{font-size:26px;padding:20px 0;background:#000;color:#FFF;}
.jquery-modal .budget-modal .budget-heading a{color:#06d392;text-decoration:underline;}
.jquery-modal .budget-modal .budget-heading a:hover{color:#fff;}
.jquery-modal .budget-modal .budget-body{margin:0 auto;}
.jquery-modal .budget-modal .vs-col{font-size:24px;font-weight:bold;}
.col-title{color:#FFF;font-size:28px;}
.jquery-modal .budget-modal .item-title{color:#000;}
.item-number{color:#fff;font-size:28px;}
.jquery-modal .case-study-modal{max-width:1000px;width:100%;max-height:90%;overflow-x:hidden;overflow-y:scroll;padding:0;background:#000;color:#fff; margin: auto;}
.jquery-modal .case-study-modal .modal-img{max-height:400px;overflow:hidden;}
.jquery-modal .case-study-modal .modal-img{}
.jquery-modal .case-study-modal .modal-body{padding:0;}
.jquery-modal .case-study-modal .modal-body .body-featured,
.jquery-modal .case-study-modal .modal-body .body-main{padding:10px 20px;}
.jquery-modal .case-study-modal .modal-stats{background-color:#f2f2f2;padding-top:40px;color:#000;}
.jquery-modal .case-study-modal .modal-stats .roi-item{margin-bottom:60px;}
.jquery-modal .case-study-modal .modal-social{background-color:#f2f2f2;}
.jquery-modal .case-study-modal .modal-social img{padding:20px;}
.jquery-modal .case-study-modal .modal-nav > .row{height:160px;}
.jquery-modal .case-study-modal .modal-nav > .row > .col-xs-6{height:100%;}
.jquery-modal .case-study-modal .modal-nav a{transition:color 0.5s;display:block;padding:10px 40px;color:#fff;}
.jquery-modal .case-study-modal .modal-nav a:hover{cursor:pointer;color:#434C90;}
.jquery-modal .case-study-modal .modal-nav .nav-next{text-align:right;}
.jquery-modal .case-study-modal .case-type{font-size:1.1em;font-family:'GothamBook';}
.jquery-modal .case-study-modal .case-title{margin-bottom:20px;font-size:2.8em;}
.case-title > span{font-size:75%;}
.jquery-modal .case-study-modal .item-number{margin-top:8px;color:#06d392;font-size:3.1em;}
.jquery-modal .case-study-modal .note-title{font-size:1.8em;margin-bottom:8px;}
.case-study-img{filter:gray;-webkit-filter:grayscale(1);filter:grayscale(1);transition:all 0.4s ease;}
.case-study-img:hover{-webkit-filter:grayscale(0);filter:none;transition:all 0.5s ease;}
.what-we-do-container {
}
.our-work-container {
	padding: 0;
}
.our-work-imgbtn-container {
	padding: 0;
	padding-top: 65px;
	padding-bottom: 20px;
	margin-top: 20px;
}
.our-work-img-container {
	// width: 100%;
	max-width: 300px;
	margin: auto;
	width: 100%;
	background-color: white;
}
.animate-shadow {
	-webkit-animation: shadow 1.5s infinite;
    animation: shadow 1.5s infinite;
}
@-webkit-keyframes shadow {
    0% {
    	-webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
		-moz-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
		box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
    }
    50% {
    	-webkit-box-shadow: 0px 0px 20px 5px rgba(255,255,255,0.7);
		-moz-box-shadow: 0px 0px 20px 5px rgba(255,255,255,0.7);
		box-shadow: 0px 0px 20px 5px rgba(255,255,255,0.7);
    }
    100% {
    	-webkit-box-shadow: 0px 0px 20px 5px rgba(255,255,255,0);
		-moz-box-shadow: 0px 0px 20px 5px rgba(255,255,255,0);
		box-shadow: 0px 0px 20px 5px rgba(255,255,255,0);
    }
}
@keyframes shadow {
    0% {
    	-webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
		-moz-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
		box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
    }
    50% {
    	-webkit-box-shadow: 0px 0px 20px 5px rgba(255,255,255,0.7);
		-moz-box-shadow: 0px 0px 20px 5px rgba(255,255,255,0.7);
		box-shadow: 0px 0px 20px 5px rgba(255,255,255,0.7);
    }
    100% {
    	-webkit-box-shadow: 0px 0px 20px 5px rgba(255,255,255,0);
		-moz-box-shadow: 0px 0px 20px 5px rgba(255,255,255,0);
		box-shadow: 0px 0px 20px 5px rgba(255,255,255,0);
    }
}
.our-work-img {
	// max-width: 300px; 
	width: 100%;
	margin: auto;
}
.our-work-explore-btn {
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: white;
    color: #111;
    font-weight: bold;
    border-radius: 0;
}
.our-work-excel-container {
	padding: 0;
	top: 0;
	left: 47%;
	transform: translateX(-50%);
	width: 100%;
    max-width: 350px;
}
.our-work-excel-img {
	max-width: 100px;
    width: calc(100%/3);
	display: inline-block;
	vertical-align: top;
}
.our-work-excel-des {
	width: calc(100%/3 * 2 - 10px);
	display: inline-block;
	padding-left: 5px;
}
.our-work-excel-text {
	font-size: 1.5rem;
}
.our-work-data-brand-text {
	padding-bottom: 20px;
}
.our-work-data-title {
}
.our-work-data-item {
	padding-bottom: 10px;
}
.m-t-30 {
	margin-top: 30px;
}
.md-show { display: block; }
.md-hide { display: none; }
.block-logo {
	padding-top: 20px;
}
.block-logo .img-responsive {
	// margin: auto;
	max-width: 173px;
	width: calc(100vw/3);
}
.block-logo .logo-wrap {
	margin: auto;
	width: fit-content;
}
.sm-hide-block {
	display: inline;
}
.slick-arrow { display: none !important; }
.slick-track {
	max-height: 400px;
}
.slick-list {
	max-height: 400px;
}
.slick-dots {
    position: absolute;
    bottom: 20px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 12px;
    height: 12px;
    padding: 5px;
    cursor: pointer;
    /* color: transparent; */
    border: 0;
    outline: none;
    background: #c9c9c9;
    border-radius: 50px;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}
.slick-dots li.slick-active button {
    font-family: 'slick';
    font-size: 0px;
    line-height: 0;
    left: 0;
    width: 12px;
    height: 12px;
    content: '•';
    text-align: center;
    opacity: 1.25;
    color: black;
    background-color: #91A6E9;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (min-width:768px){.fixed-logo{}
	.fullheight-sm{height:100%;}
	.exp-wrap, .sol-wrap{padding-top:200px;}
	.lts-btn{width:200px;font-size:18px;}
	.lts-btn .right-arrow{height:18px;}
	.jquery-modal .budget-modal{font-size:1.4em;}
	.jquery-modal .budget-modal .vs-col{padding-top:100px;}
	.case-study-items{margin-top:20px;}
	.jquery-modal .case-study-modal .modal-body{margin-bottom:-100px;}
	.jquery-modal .case-study-modal .modal-body .body-featured,
	.jquery-modal .case-study-modal .modal-body .body-main{position:relative;top:-100px;margin:0 auto;max-width:720px;padding:20px 40px;}
	.jquery-modal .case-study-modal .modal-body .body-main{margin-bottom:40px;text-align:center;}
	.jquery-modal .case-study-modal .modal-social{padding-left:40px;padding-right:40px;}
	.jquery-modal .case-study-modal .modal-nav > .row{height:100px;}
	.jquery-modal .case-study-modal .item-number,
	.jquery-modal .case-study-modal .item-note{text-align:center;}
	.contact-item{margin-bottom:20px;font-size:19px;}
	.contact-item > i{width:60px;}
	.contact-item > i,
	.contact-item > p{display:inline-block;}
	.contact-form-btn{width:240px;}
}
@media (min-width:992px){
	.fullheight-md{height:100%;}
	.case-study-items{width:90%;margin:20px auto 0 auto;}
	.sol-2{padding-top:50px;}
}
@media(min-width:550px){#fp-nav{margin-top:-260px!important;}
	.dig-in{
		// border-right:1px solid #b7b7b7;
		// border-left:1px solid #b7b7b7;
		// height:100vh;
		width:100%;
	}
	.right-in{height:100vh;width:100%;}
}
.img-fluid{max-width:200px;width:100%;height:auto;}
.dig-in{
	// border-right:1px solid #b7b7b7;
	// border-left:1px solid #b7b7b7;
	overflow:hidden;
}
.p-t-1{padding-top:50px;}
.p-t-3{padding-top:150px;}
.p-t-2{padding-top:25px;}
.p-t-0{padding-top:15px;}
.p-t-4{padding-top:200px;}
.p-b-1 { padding-bottom: 50px; }
.case-study-item{margin:15px;width:235px;}
.contact-items{padding-left:60px;}
.contact-item > a{color:#FFF;}
@media(min-width:1500px){.contact-items{padding-left:150px;}
}
@media(max-width:1366px){.budget-title{font-size:35px;}
.case-study-item{width:190px;margin:10px;}
.lts-square-nml{font-size:35px;}
}
@media(max-width:1280px){.lts-square-nml{font-size:40px;}
.exp-ft{font-size:50px;}
.rw-ttl{font-size:25px;}
.rw-desc{font-size:15px;}
.prob-wbqlo-ttl{padding:30px 250px 30px 250px;}
.prob-desc{font-size:20px;}
.case-study-item{width:180px;}
.case-study-title{margin-top:10px;font-size:5rem;}
}
@media(max-width:1238px){.contact-item > br{display:none;}
}
@media(max-width:1200px){.budget-input > input{font-size:30px;}
.case-study-item{margin:15px;}
.col-title, .item-number{font-size:24px;}
.contact-items{padding-left:20px;}
.pad-left{padding-left:30px;padding-top:50px;}
}
@media(max-width:992px){.contact-item > br{display:block;}
.dig-in > .container{width:auto;}
.dig-in{padding:40px 30px 40px;}
.lts-square{font-size:40px;}
.lts-square2{font-size:70px;}
.lts-line{width:10%;}
.lts-ft{font-size:18px;}
.intro{background-position:center;}
.lts-square-nml{font-size:35px;}
.exp-ft{font-size:40px;}
.rw-top > img{width:140px;}
.rw-top > .rw-sp-img{width:180px;}
.rw-ttl{font-size:20px;margin-top:15px;}
.rw-desc{font-size:17px;margin-top:15px;}
.prob-wbqlo-ttl{padding:30px 120px 30px 120px;}
.prob-desc{font-size:20px;width:75%;}
.sol-sft{font-size:20px;}
.sol-line{width:15%;margin-top:5px;}
.form-pad-left{padding-left:24px;padding-right:24px;}
.case-wrap{padding:7% 0;}
.jquery-modal .case-study-modal .case-title{font-size:2em;}
.jquery-modal .case-study-modal .item-number{font-size:2.1em;}
.jquery-modal .case-study-modal .note-title{font-size:1.5em;}
.note-title{position:relative;bottom:-2px;}
.note-title > img{width:35px;bottom:0;}
.jquery-modal .budget-modal{width:100%;}
.budget-input > input{font-size:25px;}
.case-study-item{margin:15px;}
.case-study-title{font-size:3.5rem;margin-bottom:3rem;}
.left-in {height: 100%;}
.right-in {height: 100%;}
.md-show { display: none; }
.md-hide { display: block; }
.case-pad { padding-top: 0px; }
}
@media(max-width:850px){.lts-square{font-size:30px;}
.lts-square2{font-size:55px;}
.lts-line{width:9%;}
.lts-ft{font-size:16px;}
.rw-ttl{font-size:18px;}
.rw-desc{font-size:16px;}
.rw-top > img{width:100px;}
.rw-top > .rw-sp-img{width:120px;}
.vcenter-container{padding:0;}
.left-in{padding:70px 50px 70px 50px;}
.contact-title{margin-top:20%;}
.pad-left{padding-left:30px;padding-top:initial;}
.case-content{margin:0px 60px 15px 70px;}
.pad-left-1{padding-left:10px;padding-top:0;}
.latosemibold-65{font-size:3rem;}
}
@media(max-width:767px){.img-fluid{width:70%;}
	.latosemibold-65{font-size:2rem;}
	.gothambook-24-i{font-size:2rem;}
	.gothambook-50{font-size:2rem;}
	.gothambold-28{font-size:2rem;}
	.gothambook-28{font-size:2rem;}
	.avenirbook-28{font-size:2rem;}
	.gothambook-26{font-size:1.2rem;}
	.gothambook-24{font-size:1.1rem;}
	.latoheavy-40{font-size:2rem;}
	.latoheavy-100{font-size:3rem;}
	.latosemibold-100{font-size:3rem;}
	.avenirheavy-100{font-size: 3rem;}
	.latosemibold-i-80{font-size:2.5rem;}
	.latosemibold-90{font-size:4rem;}
	.what-we-do-title { font-size: 2.5rem; }
	// .latosemibold-30 { font-size: 2rem; }
	// .latosemibold-20 { font-size: 1.5rem; }
	// .latosemibold-10 { font-size: 1rem; }
	.fixed-logo {
	    margin-left: 0px;
    	left: 50%;
    	transform: translateX(-50%);
	}
	.p-t-1{padding-top:40px;}
	.p-t-3{padding-top:50px;}
	.p-b-1 { padding-bottom: 20px; }
	.lts-square{font-size:30px;}
	.lts-square2{font-size:60px;}
	.rw-desc{font-size:15px;width:70%;margin:15px auto 0 auto;}
	.rw-top > img{width:100px;}
	.rw-top > .rw-sp-img{width:120px;}
	.dig-pad{padding:0 15px;}
	#fp-nav.right{right:3px!important;}
	.rw-desc2{width:100%;}
	.fixed-pageno{left:20px;}
	.fixed-logo{width:200px;max-width:50%;}
	.fixed-fb{left:0;bottom:10px;}
	.fixed-pageno{font-size:20px;}
	.small-contact-btn{margin-top:30px;}
	.modal-img > img{width:100%;}
	.budget-input > input{width:60vw;}
	.jquery-modal .budget-modal .item-title2{color:#000;}
	.col-title{font-size:26px;}
	.jquery-modal .budget-modal{min-height:550px;height:80%;}
	#fp-nav{-webkit-transform:none;transform:none;}
	#fp-nav ul li .fp-tooltip.active{position:fixed;top:8px;right:15px;opacity:1 !important;font-size:15px;}
	.case-study-item{width:150px;}
	.what-we-do-container {
		text-align: center;
	}
	.what-we-do-icon {
		margin: auto;
	}
	.what-we-do-icon-holder {
		height: 100px;
	}
}
@media(max-width:550px){.contact-stitle{margin-bottom:60px;}
.lts-square{font-size:20px;padding:0px 40px 0px 15px;}
.lts-square2{font-size:35px;padding:0px 40px 0px 15px;margin-top:10px;}
.lts-line{margin-top:10px;}
.lts-ft > br{display:none;}
.lts-ft{font-size:15px;}
.lts-square-nml{font-size:25px;padding:0px 15px 0px 15px;}
.exp-ft{font-size:18px;}
.rw-desc{width:100%;font-size:10px;margin-top:5px;}
.rw-desc2{font-size:10px;width:60%;margin:5px auto 0 auto;}
.rw-ttl{font-size:15px;}
.rw-top > img{width:50px;margin-top:5px;}
.rw-top > .rw-sp-img{width:55px;margin-top:5px;}
.rw-wrap{padding-top:0;}
.prob-wbqlo-ttl{padding:15px 30px 15px 30px;}
.prob-desc{width:90%;font-size:15px;}
.sol-sft{font-size:17px;}
.sol-line{width:11%;}
#fp-nav ul li .fp-tooltip.right{font-size:13px;}
.fixed-pageno{display:none;}
#fp-nav ul li{margin-top:25px;}
.form-pad-left{padding-left:7.5px;padding-right:7.5px;}
.contact-form > .form-group > input{height:40px;}
.case-study-item{width:105px;}
.budget-input > input{font-size:16px;width:70vw;}
.jquery-modal .budget-modal{min-height:750px;height:100%;}
.budget-title > div{font-size:20px;width:90%;line-height:20px;}
.i5{width:80%;}
.case-study-title{font-size:3rem;line-height:3.5rem;}
// .case-pad{padding-top:30px;}
.case-pad{padding-top:0px;}
.contact-item > br{display:none;}
.our-work-excel-text { font-size: 1.1rem; }
.our-work-excel-des { padding-left: 5px; }
// .dig-in .container{height:70vh;}
.our-work-excel-container { top: 5%; }
.p-h-1 {
	padding: 0;
}
.p-xs-0 {
	padding-left: 0;
	padding-right: 0;
}
.latosemibold-100 { font-size: 2.2rem; }
.avenirheavy-100 { font-size: 2.15rem; }
.gothambook-28 { font-size: 1.5rem; }
.avenirbook-28{ font-size:1.5rem; }
.gothambook-10 { font-size: 1.5rem; }
.avenirbook-10 { font-size: 1.5rem; }
.latosemibold-30 { font-size: 2rem; }
.avenirheavy-30 { font-size: 2rem; }
.avenirmedium-30 { font-size: 2rem; }
.latosemibold-20 { font-size: 2rem; }
.avenirheavy-20 { font-size: 2rem; }
.latosemibold-10 { font-size: 1.5rem; }
.avenirmedium-10 { font-size: 1.5rem; }
}
@media(max-width:360px){.case-content{margin:0px 50px 10px 50px;}
}
@media(max-width:350px){.lts-square, .lts-square-nml, .exp-ft{font-size:15px;}
.lts-square2{font-size:25px;}
.lts-ft{font-size:12px;}
.rw-top{margin-top:10px;}
.rw-top > img{width:25px;}
.rw-top > .rw-sp-img{width:20px;}
.rw-ttl{font-size:12px;}
.rw-desc{font-size:8px;}
.prob-desc{width:90%;font-size:13px;}
.sol-sft{font-size:15px;}
.sol-line{width:8%;}
.case-study-item{width:80px;}
.contact-items > .row{margin:5px 0;}
.fixed-fb{height:35px;width:35px;}
.fb-wrap{margin:9px 0;}
.fa-cus{font-size:1.3em;}
.contact-modal{padding:15px;}
.budget-title > div{font-size:15px;width:95%;}
.small-contact-btn{margin-top:10px;}
}
.second-page-bg{background-position:center;background-repeat:no-repeat;background-size:cover;}
.top-page-bg{background-position:center;background-repeat:no-repeat;background-size:cover;}
.black-bg{background-color:#111 !important;}
.divider{height:3px;background-color:#5f6abb;width:6%;margin:15px auto;}
.divider-longer{height:3px;background-color:#5f6abb;width:20%;margin:15px auto;}
.left-divider{height:3px;background-color:#5f6abb;width:18%;margin:15px 0;}
.form-pad-right{background-color:#161616;}
.hide-block{display:block;}
.show-block{display:none;}
@media screen and (max-width:768px){.hide-block{display:inline;}
.show-block{display:inline;}
}
@media screen and (max-width:1024px) and (orientation:landscape){.fixed-logo{width:200px;}
}

#carousel-control-left-a {
    top: 50%;
    bottom: 0;
    left: 0;
    right: auto;
    background-color: white;
    background-image: none;
    opacity: 1;
    max-width: 50px;
    max-height: 50px;
    height: 100%;
    width: 100%;
    transform: translateY(-50%);
    border-radius: 50px;
    display: flex;
}
#carousel-control-right-a {
	top: 50%;
    bottom: 0;
    left: auto;
    right: 0;
    background-color: white;
    background-image: none;
    opacity: 1;
    max-width: 50px;
    max-height: 50px;
    height: 100%;
    width: 100%;
    transform: translateY(-50%);
    border-radius: 50px;
    display: flex;
}
#carousel-control-left-a > i, #carousel-control-right-a > i {
	margin: auto;
	text-shadow: none;
}
.carousel-indicators li {
	border: 1px solid #c9c9c9;
	background-color: #c9c9c9;
}
.carousel-indicators .active {
	border: 1px solid #91A6E9;
	background-color: #91A6E9;
}
.item-container {
	width: 100%;
	height: 100%;
	background-color: transparent;
}
.testimonial-container {
	background-color: white;
    max-width: 600px;
    margin: auto;
    padding: 60px 100px;
    min-height: 400px;
}
.testimonial-brand-name {
	font-weight: bold;
    font-family: "Lato SemiBold", Lato, Tahoma, Sans-Serif;
    font-size: 1.9rem;
    margin-bottom: 0px;
}
.testimonial-position {
	color: #767676;
	font-size: 1.6rem;
	font-weight: normal;
    font-family: "Lato SemiBold", Lato, Tahoma, Sans-Serif;
    margin-bottom: 15px;
}
.testimonial-des {
	font-size: 1.6rem;
	font-weight: normal;
    font-family: "Lato SemiBold", Lato, Tahoma, Sans-Serif;
}
.carousel-product {
	padding-top: 20px;
}
.test-testimonial {
	padding-top: 20px;
}
.contact-modal {
	margin: auto;
}
@media screen and (max-width: 768px) {
	.testimonial-container {
		padding: 40px 50px;
	}
	.sm-hide-block {
		display: none;
	}
}
@media screen and (max-width: 550px) {
	#carousel-control-right-a {
		right: -25px;
	}
	#carousel-control-left-a {
		left: -25px;
	}
}
@media screen and (max-width: 500px) {
	.dig-in {
		padding: 40px 20px 40px;
	}
	#carousel-control-right-a {
		right: 0px;
		max-width: 30px;
    	max-height: 30px;
	}
	#carousel-control-left-a {
		left: 0px;
		max-width: 30px;
    	max-height: 30px;
	}
}
@media screen and (max-width: 470px) {
	.testimonial-container {
		min-height: 400px;
	}
	.test-testimonial .slick-slide-item {
		height: 100%;
	}
	.slick-track {
		max-height: 400px;
	}
	.slick-list {
		max-height: 400px;
	}

}
// @media screen and (max-width: 400px) {
// 	.testimonial-container {
// 		min-height: 640px;
// 	}
// }
@media screen and (max-width: 380px) {
	.testimonial-container {
		min-height: 410px;
	}
	.slick-track {
		max-height: 410px;
	}
	.slick-list {
		max-height: 410px;
	}
}
@media screen and (max-width: 360px) {
	.testimonial-container {
		min-height: 500px;
	}
	.slick-track {
		max-height: 500px;
	}
	.slick-list {
		max-height: 500px;
	}
}